.bNVIPP {
    background-image: url('../animations/20.jpg');
    background-position: center bottom;
    padding: 195px 60px 90px;
}
.iAgSwY {
    font-size: 85px;
    line-height: 75px;
    max-width: 80%;
}
.htbqsH {
    font-size: 24px;
    line-height: 34px;
}